@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

$primary-color: #4dc9ff;
$primary-color2: #0f9edb;
$hover-color: #fff;
$text-color: #525252;
$font-weights: (
  "regular": 200,
  "medium": 500,
  "bold": 700,
);
