@import "./resets";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

html,
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  padding: 0;
  height: 100%;
}

.row.no-gutters {
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background: rgb(230, 230, 230);

  ul {
    display: inline-block;
    margin: 4rem 0rem;
  }
  li {
    display: block;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 1rem;
  }
  a {
    font-family: "Open Sans Condensed", sans-serif;

    text-decoration: none;
    vertical-align: middle;
    color: $text-color;
    text-transform: uppercase;
  }
  .nav-icon:hover {
    text-decoration: none;
    vertical-align: middle;
    color: $primary-color;
    transition-duration: 1s;
    text-transform: uppercase;
    padding: 0rem 0.5rem;
  }
  .nav-middle:hover {
    text-decoration: none;
    vertical-align: middle;
    transition-duration: 1s;
    color: #fff;
  }
  .nav-item:hover {
    text-decoration: none;
    vertical-align: middle;
    color: $primary-color;
    background-color: white;
    transition-duration: 1s;
    text-transform: uppercase;
    padding: 0rem 0.5rem;
  }
}

.title-pages {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.5rem;
  color: $text-color;
  overflow-y: scroll;
  scroll-behavior: smooth; /* <--- */

  .wrapper-service {
    width: 80%;
    margin: 2rem auto;
  }
  .title-style {
    border-bottom: 2px solid #b8b8b8;
  }
  .service-title {
    font-size: 1rem;
    color: $primary-color2;
    text-transform: uppercase;
  }
  .job {
    margin: 0;
    padding: 0;
  }

  .div-service {
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
  }
  .service-provided {
    font-size: 13px;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    width: 100%;
    padding-left: 2rem;
  }
  .iconstyle {
    font-size: px;
  }
}

body {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 5s ease-in 0s 1;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 7s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 7s; /* Opera < 12.1 */
  animation: fadein 5s;
}

.book-btn {
  color: $primary-color;
  background-color: white;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
}

.style-work {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.iwork {
  border: 1px solid white;
  object-fit: cover;
}
.iwork:hover {
  border: 1px solid white;
  object-fit: cover;
  opacity: 0.2;
  transition-duration: 0.5s;
  cursor: pointer;
  width: 90%;
}
.teampic {
  border: 15px solid white;
  object-fit: cover;
  border-radius: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#boxChild {
  width: 100%;
  height: 100vh;
}

.name-team {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

input[type="text"],
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 9px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
label {
  font-size: 1.3rem;
}
